<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>配對交易</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.js"></script>

    <script>
        $( document ).ready(function() {
            // 取得股號名稱，方便識別資料正確性
            $(".sid-input").on('input',function(e){
                if ($(this).val().length == 4) {
                    var label = $(this).parent().find('span')
                    $.ajax({
                        type: 'POST',
                        url: '/ajax_stock_name',
                        data: {'sid': $(this).val()},
                        dataType: "json",

                        success: function(rep){
                            label.html(rep.name);
                        },
                        error:function(xhr, ajaxOptions, thrownError){
                            alert(thrownError);
                        }
                    });
                }
            });
        });

        var json_object;

        // 取得120日交易資訊
        function doQuery() {
<!--            $('#stock1').html('長榮'); // to do remove-->
<!--            $('#stock2').html('陽明'); // to do remove-->
            $('.stock-A').html($('#stock1').html());
            $('.stock-B').html($('#stock2').html());

            if ( $.fn.dataTable.isDataTable( '#dataTables-list' ) ) {
                table = $('#dataTables-list').DataTable();
                table.destroy();
            }
            $('#dataTables-list').show();
            $('#dataTables-list').DataTable( {
                "processing": true,
                "serverSide": false,
                "searching" : false,
                "ordering"  : false,
                // "order"     : [[ 0, "desc" ]],

                iDisplayLength: 120,
                "Paginate": false,
                "bPaginate": false,
                "bLengthChange": false,
                "bFilter": true,
                "bInfo": false,

                "ajax": {
                    url: '/ajax_pair_trade',
                    type: 'POST',
                    data: function (d) {
                        delete d.columns;
                        delete d.search;
                        d.sid1 = $("#sid1").val();
                        d.sid2 = $("#sid2").val();
                    },
                    error: function(e){
                      alert(e);
                    }
                },
                "columnDefs": [
                    {
                        // 調整大盤與股價關係因子
                        "targets": [5],
                        "render": function ( item, type, row ) {
                            (row[3] < 100) ? (val = row[1] / 1000) : (val = row[1] / 100)
                            return Math.round(val * 100000) / 100000;
                        },
                        "data": null,
                    },
                    {
                        // 調整大盤與股價關係因子
                        "targets": [8],
                        "render": function ( item, type, row ) {
                            (row[6] < 100) ? (val = row[1] / 1000) : (val = row[1] / 100)
                            return Math.round(val * 100000) / 100000;
                        },
                        "data": null,
                    },
                ],
                "drawCallback": function () {
                    $('#dataTables-list').show();
                    $('#diff-info').show();

                    var max = 0;
                    var min = 9999;
                    var avg = 0;
                    var cnt = 0;
                    this.api().rows().every( function ( ) {
                        var data = this.data();
                        var values = data.slice(-1).map(Number);
                        avg += values[0];
                        (max < values[0]) ? (max = values[0]) : (max = max);
                        (min > values[0]) ? (min = values[0]) : (min = min);
                        cnt++;
                    });
                    $('#avg_value').html(Math.round(avg/cnt * 100) / 100);
                    $('#max_value').html(max);
                    $('#min_value').html(min);

                    // 將datatable資訊轉換成json format
                    var table = document.getElementById("dataTables-list");
                    json_object = tableToJson(table);

                    sleep(3000).then(() => {
                        getCorrel();
                    })

                }
            });
        }

        // sleep function
        function sleep (time) {
          return new Promise((resolve) => setTimeout(resolve, time));
        }

        // 取得json資訊
        function tableToJson(table) {
            var data = [];

            // first row needs to be headers
            var headers = [];
            for (var i=0; i<table.rows[0].cells.length; i++) {
                //headers[i] = table.rows[0].cells[i].innerHTML.toLowerCase().replace(/ /gi,'');
                headers[i] = i;
            }

            // go through cells
            for (var i=1; i<table.rows.length; i++) {

                var tableRow = table.rows[i];
                var rowData = {};

                for (var j=0; j<tableRow.cells.length; j++) {

                    rowData[ headers[j] ] = tableRow.cells[j].innerHTML;

                }

                data.push(rowData);
            }

            return data;
        }

        // 計算Correl關係係數
        function getCorrel() {
            $.ajax({
                type: 'POST',
                url: '/ajax_get_correl',
                // data: {'json_object': json_object},
                data: JSON.stringify(json_object),
                dataType: "json",
                contentType: 'application/json',

                success: function(rep){
                    $('#correl-info').show();
                    $('#c_closeA_twseA').html(Math.round(rep['c_closeA_twseA'] * 1000)  / 1000);
                    $('#c_volA_twseA').html(Math.round(rep['c_volA_twseA'] * 1000)  / 1000);
                    $('#c_closeB_twseB').html(Math.round(rep['c_closeB_twseB'] * 1000)  / 1000);
                    $('#c_volB_twseB').html(Math.round(rep['c_volB_twseB'] * 1000)  / 1000);
                    $('#c_twse_diff').html(Math.round(rep['c_twse_diff'] * 1000)  / 1000);
                    $('#c_tpex_diff').html(Math.round(rep['c_tpex_diff'] * 1000)  / 1000);
                    $('#c_closeA_closeB').html(Math.round(rep['c_closeA_closeB'] * 1000)  / 1000);
                    $('#c_volA_closeB').html(Math.round(rep['c_volA_closeB'] * 1000)  / 1000);
                },
                error:function(xhr, ajaxOptions, thrownError){
                    alert(thrownError);
                }
            });
        }

    </script>
</head>
<body>
    <div class='container'>
        <a href="{{ url_for('index') }}" class='btn btn-primary'>Home</a>
        <hr size="1px" align="center" width="100%">

        <div class="x_panel">
            <div class="x_title">
                <h2>配對交易</h2>
<!--                <h2>123</h2>-->
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="form-group col-md-2 col-sm-12 col-xs-12" style="display: inline-block;">
                    <label class="control-label">股號A <span class="control-label font-weight-bold text-danger" id="stock1"></span></label>
                    <input type="text" id="sid1" name="sid1" class="sid-input" value="2603">
                </div>

                <div class="form-group col-md-2 col-sm-12 col-xs-12" style="display: inline-block;">
                    <label class="control-label">股號B <span class="control-label font-weight-bold text-danger" id="stock2"></span></label>
                    <input type="text" id="sid2" name="sid2" class="sid-input" value="2609">
                </div>
                <div class="form-group col-md-4 col-sm-12 col-xs-12" style="display: inline-block;">
                    <button id="query" type="button" class='btn btn-primary query' onclick="doQuery();">查詢</button>
                </div>
            </div>
        </div>

        <hr size="1px" align="center" width="100%">
        <h3>資料檢查：</h3>
        <div id="table_list">
            <table id="correl-info" class="table table-borderless" style="display:none">
                <thead></thead>
                <tbody>
                    <tr>
                        <td>
                            <ul>
                                <li class="font-weight-bold text-danger">現股平均價差：<span id="avg_value"></span></li>
                                <li>現股最大價差：<span id="max_value"></span></li>
                                <li>現股最小價差：<span id="min_value"></span></li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>收盤A vs 加權A調整：<span id="c_closeA_twseA"></span></li>
                                <li>成交量A vs 加權A調整：<span id="c_volA_twseA"></span></li>
                                <li>收盤B vs 加權B調整：<span id="c_closeB_twseB"></span></li>
                                <li>成交量B vs 加權B調整：<span id="c_volB_twseB"></span></li>
                                <li>加權 vs 價差：<span id="c_twse_diff"></span></li>
                                <li>櫃買 vs 價差：<span id="c_tpex_diff"></span></li>
                                <li class="font-weight-bold text-danger">收盤A vs 收盤B：<span id="c_closeA_closeB"></span></li>
                                <li class="font-weight-bold text-danger">成交量A vs 成交量B：<span id="c_volA_closeB"></span></li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="table-area">
            <table id="dataTables-list" class="table table-striped table-bordered" style="display:none">
                <thead>
                    <tr>
                        <th>日期</th>
                        <th>加權</th>
                        <th>櫃買</th>
                        <th><span class="stock-A">A</span>收盤</th>
                        <th><span class="stock-A">A</span>成交量</th>
                        <th><span class="stock-A">A</span>加權調整</th>
                        <th><span class="stock-B">B</span>收盤</th>
                        <th><span class="stock-B">B</span>成交量</th>
                        <th><span class="stock-B">B</span>加權調整</th>
                        <th>價差</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

    </div>
</body>
</html>